* {
    box-sizing: border-box;
}

body {
    background-color: #E7EBF0;
    color: #111;
}

.site-container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}



h1, h2, h3 {
    color: #003366;
}

h1 {
    font-size: 82px;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-link {
    cursor: pointer;
    color: darkorange;
}





/* Responsive */

@media (max-width:1199px) {
    .site-container {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width:767px) { 
    h1 {
        font-size: 38px;
    }
}